{% extends "base_generic.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}


{% block content %}
<div class="container"></div>
    <div class="shadow rounded col-md-7 m-auto p-5">
    {% if process == "connect" %}
        {% element h1 %}
            {% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}
        {% endelement %}
        {% element p %}
            {% blocktrans with provider.name as provider %}Vous êtes sur le point de connecter un nouveau compte tiers depuis {{ provider }}.{% endblocktrans %}
        {% endelement %}
    {% else %}
        {% element h1 %}
            <h3 class="h1">{% blocktrans with provider.name as provider %}Connectez-vous via {{ provider }}{% endblocktrans %}</h3>
        {% endelement %}
        {% element p %}
            {% blocktrans with provider.name as provider %}Vous êtes sur le point de vous connecter en utilisant un compte tiers de {{ provider }}.                                                                                                                                       .{% endblocktrans %}
        {% endelement %}
    {% endif %}
    {% element form method="post" no_visible_fields=True %}
        {% slot actions %}
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Continuer</button>
        {% endslot %}
    {% endelement %}
    </div>
</div>


{% endblock content %}
