{% extends "base_generic.html" %}
{% block content %}

<h3 class="h1 text-center mt-3 pt-3">Ajouter une Patient</h3>
<div class="container mt-3">
  <div class="col-md-5 m-auto shadow p-3 mb-5 rounded">

    <form method="POST" enctype="multipart/form-data"> {% csrf_token %}

      <div class="">
        <label for="name" class="form-label"></label>
        <input type="text" class="form-control" name="name" placeholder="nom" required/>
      </div>

      <div class="">
        <label for="firstname" class="form-label"></label>
        <input type="text" class="form-control" name="firstname" placeholder="prénom" required></input>  
      </div>

      <div class="">
        <label for="age"></label>
        <input type="number" class="form-control" name="age" placeholder="age" required></input>  
      </div>

      <div>
          <label for="adress" class="form-label"></label>
          <input type="text" class="form-control" name="adress" placeholder="adresse" required></input>  
      </div>

      <div>
          <label for="phone" class="form-label"></label>
          <input type="number" class="form-control" name="phone" placeholder="tel." required></input>  
      </div>

      <div class="d-grid gap-2">
        <button type="submit" class="buttsave btn mt-3">Enregistrer</button>
      </div>

    </form>
  
  </div>
</div>

{% endblock %}






