{% extends 'base_generic.html' %}
{% load static %}
{% block content %}

{% include 'partiels/navbar.html' %}

<div class="col-md-10 m-auto p-3 mb-5 rounded">
    <div>
        <h1 class="h1 text-center mt-5">Mes Patients</h1>
        {% if patient %}
        <span><a href="{% url 'addpatient' %}"><i class="fa-solid fa-user-plus"></i></a>
        </span>
    </div>

    <div >

        <table class="table">
        
            <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Age</th>
                    <th>Address</th>
                    <th>Tel</th>

                </tr>
            </thead>
        
            <tbody>
                
                {% for patients in patient %}
 
                <tr>
                    <td>{{ patients.name }}</td>
                    <td>{{ patients.firstname }}</td>
                    <td>{{ patients.age }}</td>
                    <td>{{ patients.adress }}</td>
                    <td>{{ patients.phone }}</td>
                   
                   
                    <td>
                        <a href="{% url 'updatepat' patients.id %}" type="button">
                            <i class="mod fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <a href="#" class=""><i class="fa fa-trash" aria-hidden="true"></i></a>
                        
                    </td>
                {% endfor %}

                    
                </tr>

            </tbody>
        {% else %}
        <h3 class="text-center">
            AUCUN PATIENT</br>
            Appuyer sur l'icone pour ajouter</br>
            <span>
                <a href="{% url 'addpatient' %}">
                    <i class="fa-solid fa-user-plus mt-5"></i>
                </a>
            </span>
        </h3>
        {% endif %}
        </table>
    </div>
   
</div>

{% endblock %}