{% extends "base_generic.html" %}
{% block content %}

<h3 class="h1 text-center mt-2 pt-3">Modifier</h3>
<div class="container mt-3">
  
    <div class="border shadow col-md-5 m-auto p-3 mb-5 rounded">

     
      <form method="POST" action="{% url 'updatepat' patient.id %}" enctype="multipart/form-data"> {% csrf_token %}

        <div class="mb-3">
          <label for="name" class="form-label"></label>
          <input type="text" class="form-control" name="name" placeholder="Nom" required value="{{ patient.name }}"/>
        </div>

        <div class="mb-3">
          <label for="firstname" class="form-label"></label>
          <input type="text" class="form-control" name="firstname" placeholder="Prénom" required value="{{ patient.firstname }}"></input>  
        </div>

        <div class="mb-3">
          <label for="floatingTextarea2"></label>
          <input type="number" class="form-control" name="age" placeholder="Age" required value="{{ patient.age }}"></input>  
        </div>

        <div>
            <label for="adress" class="form-label"></label>
            <input type="text" class="form-control" name="adress" placeholder="Adresse" required value="{{ patient.adress }}"></input>  
        </div>

        <div>
            <label for="phone" class="form-label"></label>
            <input type="number" class="form-control" name="phone" placeholder="Téléphone" required value="{{ patient.phone }}"></input>  
        </div>

        <div class="d-grid gap-2">
          <button type="submit" class="buttsave btn mt-3 border">Enregistrer</button>
        </div>

      </form>  

      <form action="{% url 'delete' patient.id %}" method="post" style="display:inline;" class="d-grid gap-2 mt-3">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-danger">Suppnnnrimer</button>
      </form>

    </div>
  </div>
</div>

{% endblock %}