body {
    font-family: 'Times New Roman', Times, serif;
}


.navbar-nav {
    display: flex;
    justify-content: center; 
    font-size: 1.2rem;
    font-weight: bold;
    gap: 2rem;
    color:white;

  }
  

.side {
    padding-top: 3rem;
}

.row {
    display: flex;
    align-content: center;    
}

.sidebar {
    background-color: hwb(25 21% 0%);
    min-height: 84vh;
    padding-top: 2rem;
    border-radius: 1px 15px 15PX 1px;
   

}

.sidebar a {
    color: white;
    text-decoration: none;
    padding: 0.75rem;
    display: block;
    font-weight: 600;
    font-size: 1rem;
}

.sidebar h3 a {
    font-size: 2rem;
}

.content {
    display: inline-flex;
    display: inline;
}

.card {
    height: 150px; 
    align-items: center;
}



.des1 {
    display: flex;
   
}


a {
    text-decoration: none;
}

.navbar {
    
    border-radius: 1rem;
}


.start a {

    background-color:hwb(25 21% 0%);
    padding: 8px;
    border-radius: 10px;
   
    font-weight: 3rem;
    font-weight: bold;

}


.title {
    color: hwb(25 21% 0%);
    text-decoration: dotted;
    font-weight: bolder;
    font-size: 4rem;
    padding-bottom: 2rem;
}

.imgindex {
    width: 45%;
    
}


.navimg {
    width: 5%;
}

