


.side {
    padding-top: 3rem;
}

.row {
    display: flex;
    align-content: center;    
}

.sidebar {
    background-color: hwb(23 41% 0%);
    min-height: 84vh;
    color: white;
    padding-top: 5rem;
    border-radius: 1px 15px 15PX 1px;

}
.sidebar a {
    color: white;
    text-decoration: none;
    padding: 0.75rem;
    display: block;
}

.content {
    display: inline-flex;
    display: inline;
}

.card {
    height: 150px; 
    align-items: center;
}



.des1 {
    display: flex;
   
}


a {
    text-decoration: none;
}

main {
   
    border-radius: 1rem;
}


.collapse {
    background-color:hwb(349 27% 0%);
}


.start {
    
    background-color:hwb(349 27% 0%);
    border-radius: 1rem;
    padding: 7px 0px 7px 7px;
    
}

.start .a {
    padding-right: 1rem;
    color: white;
}