{% extends "base_generic.html" %}
{% block content %}


<div class="border col-md-5 m-auto p-3 mb-5 mt-5 ">
  <form method="POST" enctype="multipart/form-data"> {% csrf_token %}

    <div class="container">
      <div class="row">
        <div>
            <h1 class="text-center">Rendez-Vous</h1>
        </div>
              
        <div class="mb-3">
          <label for="title" class="form-label"></label>
          <input type="text" class="form-control mt-3" name="title" placeholder="Titre"></input>  
        </div>


        <div class="mb-3">
          <label for="patient_id" name="patient_id" class="form-label">
            <select id="patient_id" name="patient_id" class="form-control form-select mt-3">
              {% for patient in patients %}
               
                <option value="{{ patient.id }}">{{patient.firstname}} {{patient.name}}</option>
          
              {% endfor %}
            </select>
          </label>
        </div>

        
        <div class="mb-3">
          <label for="date" class="form-label"></label>
          <input type="date" class="form-control"  name="date" placeholder="Date"></input>  
        </div>

        <div class="mb-3">
          <label for="patient" class="form-label"></label>
          <input for="time" type="time" class="form-control"  name="time" placeholder="Heure"></input>  
        </div>

        <div class="mb-3">
          <label for="place" class="form-label"></label>
          <input type="text" class="form-control" name="place" placeholder="Lieu" ></input>  
        </div>

        <div class="mb-3">
          <label for="status" name="status" class="form-label">
            <select class="form-select mt-3" name="status" id="status" aria-label="Default select example">
              <option value="En attente">En attente</option>
              <option value="Annuler">Annuler</option>
              <option value="Confirmer">Confirmer</option>
            </select>
          </label>
        </div>

        <div class="d-grid gap-2 mt-3">
            <button type="submit" class="btn btn-dark">Enregistrer</button>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}

