{% extends 'base_generic.html' %}
{% load static %}
{% block content %}

<div class="col-md-7 m-auto p-3 mb-5 rounded">
    {% if cancel %}
    <div>
        <h3 class="text-center mt-2">Mes Rendez-Vous</h3>
    </div>

    <div >
        <table class="table">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Patient</th>
                    <th>Lieu</th>
                    <th>date</th>
                    <th>Status</th>
                </tr>
            </thead>
        
            <tbody>
            {% for app in cancel %}

                <tr>
                    <td>{{ app.title }}</td>
                    <td>{{ app.patient }}</td>
                    <td>{{ app.place }}</td>
                    <td>{{ app.date }} / {{app.time}} </td>
                    

                   
                    <td class="badge text-bg-danger">
                        {{app.status}}
                    </td>
            
                   
                    <td>
                        <a href="{% url 'upd_app' app.id %}" type="button">
                            <i class="mod fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <a href="#" class=""><i class="fa fa-trash" aria-hidden="true"></i></a>
                        
                    </td>

                    
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    {% else %}
    <h1 class="text-center">AUCUNE RENDEZ-VOUS N'A ÉTÉ ANNULÉ </h1>
    {% endif %}
   
</div>



{% endblock %}