


<div class="p-3 mb-3 bg-dark">
    <div class="container d-flex justify-content-between">
        {% if user.is_authenticated %}
        <div><a class="text-light" href="{% url 'account_email' %}">Change E-mail</a></div>
        <div><a class="text-light" href="#">Home</a></div>
  
  
  
        <!-- DECONNEXION -->
        <div>
          <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Déconnexion
          </button>
          
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <h4 class="text-center">Are you sure you want to sign out?</h4>
                </div>
        
                <div class="modal-footer">
        
                  <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                  
                    <button class="btn btn-danger m-3" type="submit">Yes</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                  
                  </form>
        
                </div>
              </div>
            </div>
          </div>
        </div>
  
        
        
        {% else %}
        <div><a class="text-light" href="{% url 'account_login' %}">Connexion</a></div>
        <div><a class="text-light" href="{% url 'account_signup' %}">S'enregistrer</a></div>
        {% endif %}
    </div> 
  </div>
  
  