{% extends "base_generic.html" %}
{% load i18n %}
{% load allauth account %}

{% block content %}
{% include 'partiels/navbar.html' %}

<div class="container mt-4">
    <div class="shadow rounded col-md-5 m-auto p-5">
        <h1 class="h1 text-center">Connexion</h1>

        {% if not SOCIALACCOUNT_ONLY %}
            {% url 'account_login' as login_url %}
            <form method="post" action="{{ login_url }}" class="form">
                {% csrf_token %}

                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {{ field }} 
                        {% if field.errors %}
                            <div class="error-message">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

                {{ redirect_field }}

                <div class="form-action">
                    <button type="submit" class="btn-submit">Se connecter</button>
                </div>
            </form>

            <div class="text-center mt-3">
                <small>
                    <a href="{% url 'account_reset_password' %}" class="text-muted">Mot de passe oublié ?</a>
                </small>
            </div>

            <div class="text-center mt-3">
                <p>Vous n'avez pas de compte ? <a href="{% url 'account_signup' %}" class="text-primary">Inscrivez-vous</a>.</p>
            </div>
        {% endif %}

        {% if SOCIALACCOUNT_ENABLED %}
            <div class="mt-4">
                {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
