{% extends "base_generic.html" %}
{% load i18n allauth account %}


{% block content %}

{% user_display user as user_display %}

<h1 class="h1 text-center">Réinitialisation du mot de passe</h1>
    <div class="container mt-3">
        <div class="border shadow rounded col-md-5 m-auto p-5 mb-5">
            {% if user.is_authenticated %}
            
                <h5>Remarque :</h5> 
                <p>vous êtes déjà connecté en tant que {{ user_display }}.</p>
            
            {% endif %}
            

            <p class="mt-5 ">Mot de passe oublié ? Saisissez votre adresse e-mail ci-dessous et 
                nous vous enverrons un e-mail vous permettant de le réinitialiser.</p>
            
            
            {% url 'account_reset_password' as reset_url %}
            <form action="reset_url" method="post">{% csrf_token %}
                <div class="mb-3">
                    <label for="{{ form.email.id_for_label }}" class="form-label">Email</label>
                    <input type="email" name="email" id="{{ form.email.id_for_label }}" class="form-control" placeholder="exemple@gmail.com" value="{{ form.email.value|default:'' }}" required> 
                </div>
                <button type="submit" class="btn btn-success">Changer</button>
            </form>
        
        </div>
    </div>
{% endblock content %}
