{% extends "base_generic.html" %}

{% block content %}
{% include 'partiels/navbar.html' %}

<div class="mt-5">
    <div class="text-center">
        <h1 class="h1">Sign Up</h1>
    </div>
    
    <div class="container">
        <div class="shadow rounded col-md-5 m-auto p-5 mb-5">

            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}

                {{ form.non_field_errors }}

                <div class="mb-3">
                    <label class="form-label">Email</label>
                    {{ form.email }} 
                </div>

                <div class="mb-3">
                    <label class="form-label">Password</label>
                    {{ form.password1 }}
                </div>

                <div class="mb-3">
                    <label class="form-label">Password</label>
                    {{ form.password2 }}
                </div>
                

                <div class="form-action">
                    <button class="btn-submit" type="submit">S'inscrire</button>
                </div>
            </form>

            <div class="text-center mt-3">
                <p>Already have an account? Then please 
                    <a class="text-center" href="{{ login_url }}">sign in</a>
                </p>  
            </div>
        </div>
    </div>
    
{% endblock content %}

