{% extends "base_generic.html" %}
{% load i18n %}
{% load allauth %}

{% block content %}
    <div class="border shadow rounded col-md-6 m-auto p-5 mb-5">
        <h1 class="h1 text-center">Vérifiez votre adresse e-mail</h1>
        
        <p>Nous vous avons envoyé un e-mail de vérification. 
            Suivez le lien fourni pour finaliser le processus d'inscription. 
            Si vous ne voyez pas l'e-mail de vérification dans votre boîte de 
            réception principale, vérifiez votre dossier spam. Veuillez nous 
            contacter si vous ne recevez pas l'e-mail de vérification dans 
            quelques minutes.
        </p>
    </div>

    

{% endblock content %}
