
{% extends 'base_generic.html' %}
{% block content %}
{% include 'partiels/navbar.html' %}
<div class="container-fluid mb-5">
	<div class="row">
		
		<nav class="side col-2 col-md-2 sidebar d-md-block d-none mt-2" >
			<h3 class="text-center">
				<a class="text-white text-center" href="{% url 'board' %}">Dashboard</a> 
			</h3>
			<img src="" class="rounded mx-auto d-block" alt="image">
			<a href="{% url 'index' %}">Accueil</a>
			<a href="{% url 'list_appoint' %}">Mes Rendez-Vous</a>
			<a href="{% url  'list-patient' %}">Mes Patients</a>
			<a href="#">Mon Compte</a>
			
		</nav>
	
		<main class="col-12 col-md-10 mb-5">
			<div>
				<h1 class="text-center">Gestionnaire de Rendez-Vous</h1>
			</div>

			<!-- Dashboard Widgets -->
			<div class="row justify-content-md-center">
				<div class="col-md-5 mt-3">
					<a href="{% url 'list_appoint' %}">
						<div class="appoint card">
							<div class="card-body">

								{% if rv %}
								<h3 class="text-center">Rendez-Vous</h3>
								<h1 class="text-center">{{ rv }}</h1>
								{% else %}
								<h3 class="text-center">Aucune Rendez-Vous n'est disponible</h3>
								{% endif %}
								
							</div>
						</div>
					</a>
				</div>
				

				<div class="col-md-5 mt-3" >
					<a href="{% url  'list-patient' %}">

						<div class="appoint card">
							<div class="card-body">

								{% if patients %}
								<h3 class="card-title">Mes Patients</h3>
								<h1 class="text-center">{{ patients }}</h1>
								
								{% else %}
								<h3 class="text-center">Aucune Patient</h3 >

								{% endif %}
							</div>
						</div>
					</a>
				</div>
				
				
			</div>

			<div class="row justify-content-md-center mt-3">
				
				<div class="col-md-3 mt-3">
					<a href="{% url  'confirmed' %}">
						<div class="card text-success border border-success">
							<div class="card-body">
								
								<h3 class="text-center">{{ confirmeds }}</h3>
								<h1 class="text-center">Confirmer</h1>
							
							</div>
						</div>
					</a>
				</div>
				

				<div class="col-md-4 mt-3" >
					<a href="{% url 'on_hold' %}">
						<div class="card text-warning border-warning">
							<div class="card-body">
								
								<h3 class="text-center">{{ on_holds }}</h3>
								<h1 class="text-center">En attente</h1>

							</div>
						</div>
					</a>
				</div>

				<div class="col-md-3 mt-3 mb-5" >
					<a href="{% url 'cancel' %}">
						<div class="card text-danger border-danger">
							<div class="card-body">
								<h3 class="text-center">{{ cancels }}</h3>
								<h1 class="text-center">Annuler</h1>
							</div>
						</div>
					</a>
				</div>

				
				
			</div>
		</main>
	</div>
</div>


{% endblock %}



<div class="col-md-7 m-auto p-3 mb-5 rounded">
	<div>
	  <h1>Mes Patient</h1>
	  <a href="{% url 'addpatient' %}">add patient</a>
	</div>
</div>