
{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
	<div class="row">
		
		<nav class="col-2 col-md-2 sidebar d-md-block d-none mt-5 " >
			<h4 class="text-center text-white">Dashboard</h4>
			<img src="" class="rounded mx-auto d-block" alt="image">
			<a href="#">Accueil</a>
			<a href="#">Mes Rendez-Vous</a>
			<a href="{% url  'pative' %}">Mes Patients</a>
			<a href="#">Mon Compte</a>
			
		</nav>
	
		<main class="col-12 col-md-10 ms-sm-auto content">
			<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
				<div class="container-fluid">
					<a class="navbar-brand" href="#">Dashboard</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav ms-auto">
							<li class="nav-item"><a class="nav-link" href="#">Profile</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Notifications</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Logout</a></li>
						</ul>
					</div>
				</div>
			</nav>
			

			<div>
				<h1 class="text-center mb-">Gestionnaire de Rendez-Vous</h1>
			</div>

			<!-- Dashboard Widgets -->
			<div class="row justify-content-md-center">
				<div class="col-md-5 mt-3">
					<div class="card text-white bg-primary">
						<div class="card-body">
							<h3 class="card-title text-center">Mes Rendez-Vous</h3>
							<p class="card-text">
								<h1 class="text-center">34</h1>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-5 mt-3" >
					<div class="card text-white bg-success">
						<div class="card-body">
							<h3 class="card-title">Mes Patients</h3>
							<p class="card-text">
								<h1 class="text-center">14</h1>
							</p>
						</div>
					</div>
				</div>
				
			</div>


			<div class=" descript mt-5">
				<h3 class="text-center">Bienvenu Docteur</h3>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					 Perferendis maxime placeat voluptatibus, voluptatem, 
					 ullam iusto laborum illum et est repellat dolor adipisci 
					 ipsam, deserunt tempora similique suscipit. Nulla, dolores 
					 excepturi?
				</p>

				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					 Perferendis maxime placeat voluptatibus, voluptatem, 
					 ullam iusto laborum illum et est repellat dolor adipisci 
					 ipsam, deserunt tempora similique suscipit. Nulla, dolores 
					 excepturi?
				</p>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					 Perferendis maxime placeat voluptatibus, voluptatem, 
					 ullam iusto laborum illum et est repellat dolor adipisci 
					 ipsam, deserunt tempora similique suscipit. Nulla, dolores 
					 excepturi?
				</p>
			</div>
		</main>
	</div>
</div>


{% endblock %}

