{% extends 'base_generic.html' %}
{% load static %}
{% block content %}

{% include 'partiels/navbar.html' %}

<div class="col-md-10 m-auto p-3 mb-5">
    <div>
        <h3 class="text-center mt-2">Mes Rendez-Vous</h3>
        <span>
            <a href="{% url 'add_app' %}">
                <i class="fa-solid fa-calendar-plus"></i>
            </a>
        </span>
    </div>

    <div >
        <table class="table">
            <thead class="thead-dark">
                <tr>

                </tr>
            </thead>
        
            <tbody>
                
            {% for app in appoint %}


                <tr>
                    <td>{{ app.date }} <br> <div class="name">{{ app.patient }}</div></td>               
                    <td>{{app.time}} <br>
                        <a href="{% url 'upd_app' app.id %}" type="button">
                            <i class="mod fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <a href="#" class=""><i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </td>

                    {% if app.status == "En attente" %}
                    <td class="badge text-bg-warning">
                        {{app.status}}
                    </td>
                    {% elif app.status == "Annuler" %}
                    <td class="badge text-bg-danger">
                        {{app.status}}
                    </td>
                    {% elif app.status == "Confirmer" %}
                    <td class="badge text-bg-success">
                        {{app.status}}
                    </td>
                    {% endif %}
                    
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
   
</div>

{% endblock %}
