{% extends 'base.html' %}
{% block content %}
<h1>Mes Patient</h1>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Profil</th>
      </tr>
    </thead>

    <tbody>
        {% for pa in pativ %}
      <tr>
        <td><i class="fas fa-user"></i></td>
        <td> {{pa.firstname}} </td>
        <td>{{pa.name}}</td>
        <td>
          <button type="button" class="btn btn-info">Info</button>
        </td>
      </tr>
    </tbody>
    {% endfor %}
  </table>


{% endblock %}
