{% extends 'base_generic.html' %}
{% block content %}

<div class="col-md-7 m-auto p-3 mb-5 rounded">
  <div>
    <h1>Mes Patient</h1>
    <a href="{% url 'addpatient' %}">add patient</a>
  </div>
  
  <table class="table">
  {% if pa %}
    <thead>
      <tr>
        <th></th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Profil</th>
      </tr>
    </thead>

    <tbody>
      
      {% for pa in patient %}
      <tr>
        <td><i class="fas fa-user"></i></td>
        <td> {{pa.firstname}} </td>
        <td>{{pa.name}}</td>
        <td>
          <a href="{% url 'updatepat' pa.id %}" type="button" class="btn btn-info">Info</a>
        </td>

      </tr>

      {% endfor %}

    </tbody>
  {% else %}
    <p>Aucune patient</p>
  {% endif %}
  </table>
</div>


{% endblock %}
